#logos {
  background-color: #fff;
  box-shadow: inset 0 0.3125rem 2.1875rem rgba(0, 0, 0, 0.1);
}

#partners {
  background: #fff;
}

.google,
.microsoft,
.f50,
.qms,
.carbon {
  display: inline-block;
  padding: 0 1.25rem;
  position: relative;
  vertical-align: middle;
  text-align: center;
}

.google img,
.microsoft img,
.f50 img,
.qms img,
.carbon img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

.accreditations {
  width: 73.125rem;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.accreditations .logo {
  display: none;
  position: absolute;
  z-index: 1;
}

.accreditations .bw {
  z-index: 2;
}

.google {
  width: 18.025rem;
  position: relative;
}

.microsoft {
  width: 11.4625rem;
}

.f50 {
  width: 7.025rem;
  position: relative;
}

.f50 .logo {
  position: absolute;
  left: 35.5%;
}

.qms {
  width: 8.025rem;
  position: relative;
}

.qms .logo {
  position: absolute;
  left: 32%;
}

.carbon {
  width: 15.2125rem;
  position: relative;
}

.carbon .logo {
  position: absolute;
  left: 19.15%;
}

.f50:hover .logo {
  display: block;
}

.qms:hover .logo {
  display: block;
}

.carbon:hover .logo {
  display: block;
}

.google .popup {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: baseline;
  padding: 10px;
  position: absolute;
  left: -10px;
  top: -80px;
  color: #848584;
  font-size: 13px;
  width: 130px;
  height: 60px;
  background-color: #fff;
  box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.1);
  z-index: 100;
  border: 1px solid rgba(0, 0, 0, 0.1);
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity .2s ease-in;
}

.google .popup .arrow {
  position: absolute;
  bottom: -10px;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 10px solid #fff;
  box-shadow: 0 0.3125rem 2.1875rem rgba(0, 0, 0, 0.1);
  z-index: 101;
}

.description {
  position: absolute;
  height: 30px;
  width: 20px;
  right: 60px;
  top: 4px;
}

.description:hover .popup {
  visibility: visible;
  opacity: 1;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .decription .popup .tooltip {
    display: block;
    visibility: hidden;
    opacity: 0;
    padding: 20px;
    position: absolute;
    top: -158px;
    left: -20px;
    width: 220px;
    background-color: #333645;
    color: #fff;
    font-size: 12px;
    text-align: center;
    line-height: 1.5;
    text-transform: none;
    transition: visibility 0s, opacity 0s linear;
  }
  .decription .popup .tooltip h2 {
    margin: 0;
  }
  .decription .popup .tooltip p {
    font-size: .9rem;
    margin: 0;
  }
  .decription .popup .tooltip span {
    width: 28px;
    height: 3px;
    background-color: #fff;
    margin: 10px 0 10px;
  }
  .decription .popup .tooltip .arrow {
    position: absolute;
    bottom: -40px;
    right: 88px;
    width: 0;
    height: 0;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    border-top: 40px solid #333645;
  }
  .Clients .crane .tooltip {
    top: -223px;
    left: 15px;
    width: 220px;
  }
  .Clients .beat .tooltip {
    top: -158px;
    left: -63px;
    width: 220px;
  }
  .Clients .northern .tooltip {
    top: -223px;
    left: 40px;
    width: 220px;
  }
  .google .popup {
    display: inline-block;
    vertical-align: middle;
    text-align: left;
    padding: 10px;
    position: absolute;
    left: -10px;
    top: -80px;
    color: #848584;
    font-size: 13px;
    width: 130px;
    height: 60px;
    background-color: #fff;
    box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.1);
    z-index: 100;
    border: 1px solid rgba(0, 0, 0, 0.1);
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity .2s ease-in;
  }
  .google .popup small {
    display: inline-block;
  }
  .google .popup .arrow {
    position: absolute;
    bottom: -10px;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 10px solid #fff;
    box-shadow: 0 0.3125rem 2.1875rem rgba(0, 0, 0, 0.1);
    z-index: 101;
  }
  .card-img-top .category {
    position: absolute;
    top: 10px;
    right: 0;
    font-size: 12px;
    font-weight: 600;
    padding: 0 10px;
    color: #fff;
    text-transform: uppercase;
    z-index: 51;
  }
  .card-img-top .category .tooltip {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    visibility: hidden;
    opacity: 0;
    padding: 10px 20px;
    position: absolute;
    top: -65px;
    left: -68px;
    width: 150px;
    height: 30px;
    background-color: rgba(0, 0, 22, 0.651);
    font-weight: 500;
    font-size: 12px;
    text-align: center;
    line-height: 1.5;
    text-transform: none;
    transition: visibility 0s, opacity .2s linear;
  }
  .card-img-top .category .tooltip p {
    margin: 0;
    font-size: 10px;
  }
  .card-img-top .category .tooltip .middle {
    padding-top: 8px;
  }
  .card-img-top .category .tooltip .arrow {
    position: absolute;
    bottom: -10px;
    left: 90px;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 10px solid rgba(0, 0, 0, 0.651);
  }
  .navbar-nav .web:hover {
    background-color: #926fb1;
    border-right: 0.0625rem solid #926fb1;
    border-left: 0.0625rem solid #926fb1;
  }
  .navbar-nav .web:hover i {
    color: #fff;
  }
  .navbar-nav .web:hover .strip {
    display: block;
    position: absolute;
  }
  .navbar-nav .IT:hover {
    background-color: #4183d7;
    border-right: 0.0625rem solid #4183d7;
    border-left: 0.0625rem solid #4183d7;
  }
  .navbar-nav .IT:hover i {
    color: #fff;
  }
  .navbar-nav .IT:hover .strip {
    display: block;
    position: absolute;
  }
  .navbar-nav .telecoms:hover {
    background-color: #d64541;
    border-right: 0.0625rem solid #d64541;
    border-left: 0.0625rem solid #d64541;
  }
  .navbar-nav .telecoms:hover i {
    color: #fff;
  }
  .navbar-nav .telecoms:hover .strip {
    display: block;
    position: absolute;
  }
  .navbar-nav .software:hover {
    background-color: #67809f;
    border-right: 0.0625rem solid #67809f;
    border-left: 0.0625rem solid #67809f;
  }
  .navbar-nav .software:hover i {
    color: #fff;
  }
  .navbar-nav .software:hover .strip {
    display: block;
    position: absolute;
  }
  .navbar-nav .marketing:hover {
    background-color: #2ecc71;
    border-right: 0.0625rem solid #2ecc71;
    border-left: 0.0625rem solid #2ecc71;
  }
  .navbar-nav .marketing:hover i {
    color: #fff;
  }
  .navbar-nav .marketing:hover .strip {
    display: block;
    position: absolute;
  }
  .navbar-nav .security:hover {
    background-color: #f62459;
    border-right: 0.0625rem solid #f62459;
    border-left: 0.0625rem solid #f62459;
  }
  .navbar-nav .security:hover i {
    color: #fff;
  }
  .navbar-nav .security:hover .strip {
    display: block;
    position: absolute;
  }
  .navbar-nav .strip .nav-menu {
    display: flex;
    position: static;
    text-transform: uppercase;
    font-size: 1rem;
    height: 2.8125rem;
    width: 73.125rem;
    color: #fff;
    margin: 0 auto;
    list-style-type: none;
  }
  .navbar-nav .strip .nav-menu li:not(:first-child) {
    padding-left: 30px;
  }
}

@media only screen and (-ms-high-contrast: none) and (max-width: 1260px), only screen and (-ms-high-contrast: active) and (max-width: 1260px) {
  #head,
  #news-cards,
  #partners,
  #logos {
    justify-content: flex-start;
  }
  #logos .container .busseys .busseys-logo {
    width: 174.34px;
    height: 64.91px;
    left: 9.5%;
  }
  #logos .container .crane .crane-logo {
    width: 244.34px;
    height: 59.59px;
    left: 7.3%;
  }
  #logos .container .beat .beat-logo {
    width: 65.57px;
    height: 63.74px;
    left: 26.3%;
  }
  #logos .container .beat-logo-BW {
    width: 65.57px;
    height: 63.74px;
  }
  #logos .container .northern .northern-diver-logo {
    width: 268.99px;
    height: 58.47px;
    left: 6.6%;
  }
  #logos .container .busseys .decription .tooltip {
    top: -180px;
    left: -45px;
  }
  #logos .container .crane .decription .tooltip {
    top: -242px;
    left: -15px;
  }
  #logos .container .beat .decription .tooltip {
    top: -180px;
    left: -80px;
  }
  #logos .container .northern .decription .tooltip {
    top: -240px;
    left: 0px;
  }
  #partners .container .accreditations #f50 .logo {
    left: 32.5%;
  }
  #partners .container .accreditations #qms .logo {
    left: 27.8%;
  }
  #partners .container .accreditations #carbon .logo {
    height: 70px;
    width: 175px;
    left: 12%;
  }
}

@media only screen and (-ms-high-contrast: none) and (max-width: 990px), only screen and (-ms-high-contrast: active) and (max-width: 990px) {
  #head,
  #news-cards,
  #partners,
  #logos {
    justify-content: flex-start;
  }
  #logos .container .Clients .busseys-logo {
    left: 11.5%;
    width: 131px;
    height: 48.77px;
  }
  #logos .container .Clients .crane-logo {
    width: 186.84px;
    height: 45.57px;
    left: 9%;
  }
  #logos .container .Clients .beat-logo {
    left: 18.8%;
  }
  #logos .container .Clients .northern-diver-logo {
    width: 206.51px;
    height: 44.89px;
    left: 8.05%;
  }
  #logos .container .Clients .decription .tooltip {
    bottom: 48px;
  }
  #partners .container .accreditations {
    width: 46.875rem;
  }
  #partners .container .accreditations #f50 .logo {
    left: 27%;
  }
  #partners .container .accreditations #qms .logo {
    left: 22%;
  }
  #partners .container .accreditations #carbon .logo {
    height: 57.54px;
    width: 143.86px;
    left: 11%;
  }
  #partners .container .google .description {
    right: 11%;
  }
}

@media only screen and (-ms-high-contrast: none) and (max-width: 768px), only screen and (-ms-high-contrast: active) and (max-width: 768px) {
  #card1,
  #card2,
  #card3 {
    display: block !important;
    max-height: 750px;
    min-height: 645px;
  }
}

@media only screen and (min-width: 1260px) {
  #card1,
  #card2,
  #card3 {
    width: 455px;
  }
  #card2 {
    margin: 0 15px;
    box-sizing: border-box;
  }
}

@media only screen and (max-width: 1260px) {
  header .head-inner .container {
    margin: 0 auto;
    max-width: 58.75rem;
  }
  #main-nav {
    max-width: 78.75rem;
  }
  #main-nav .container {
    max-width: 58.75rem;
  }
  #main-nav .navbar-nav {
    max-width: 58.75rem;
  }
  #main-nav .navbar-nav .nav-menu {
    max-width: 58.75rem;
    font-size: 12px;
  }
  #gallery,
  .photo-holder {
    height: 598px;
  }
  #photo1 .container,
  #photo2 .container,
  #photo3 .container,
  #photo4 .container,
  #photo5 .container,
  #photo6 .container {
    max-width: 58.75rem;
  }
  .cards {
    justify-content: center;
  }
  .cards .web-design,
  .cards .IT-support,
  .cards .Telecoms-services,
  .cards .Bespoke-software,
  .cards .Digital-marketing,
  .cards .Cyber-security {
    width: 393px;
    margin: 15px;
  }
  #culture {
    background-position: center;
    background-position: right;
    height: 28.9375rem;
  }
  #culture .container {
    width: 58.75rem;
  }
  #culture .container .culture {
    width: 58.75rem;
    justify-content: center;
    align-content: center;
    margin: 0 auto;
  }
  #bar ul {
    width: 58.75rem;
  }
  #card3 {
    display: none;
  }
  #card1,
  #card2 {
    width: 455px;
  }
  #card1 {
    margin-right: 15px;
  }
  #card2 {
    margin-left: 15px;
  }
  #news-cards .container {
    width: 58.75rem;
  }
  #news-cards .container .img-container {
    max-height: 263px;
  }
  #logos .container .busseys-logo {
    width: 175.5px;
    height: 65.344px;
    left: 9.5%;
  }
  #logos .container .crane-logo {
    width: 241.500px;
    height: 58.891px;
    left: 7.3%;
  }
  #logos .container .beat-logo {
    width: 65.563px;
    height: 63.734px;
    left: 26.3%;
  }
  #logos .container .beat-logo-BW {
    width: 65.57px;
    height: 63.74px;
  }
  #logos .container .northern-diver-logo {
    width: 264.828px;
    height: 57.563px;
    left: 6.6%;
  }
  #logos .container .busseys .decription .tooltip {
    top: -180px;
    left: -45px;
  }
  #logos .container .crane .decription .tooltip {
    top: -242px;
    left: -15px;
  }
  #logos .container .beat .decription .tooltip {
    top: -180px;
    left: -80px;
  }
  #logos .container .northern .decription .tooltip {
    top: -240px;
    left: 0px;
  }
  #logos .container {
    width: 58.75rem;
  }
  footer {
    height: 27.375rem;
  }
  #foot {
    width: 58.75rem;
    height: 27.375rem;
    flex-wrap: wrap;
  }
  #foot .contact {
    width: 50%;
    height: 12.3125rem;
    padding: 0;
  }
  #foot .about {
    width: 50%;
    height: 13.6875rem;
    padding: 0;
  }
  #foot .website {
    width: 50%;
    height: 6.8125rem;
    padding: 0;
  }
  #foot #social {
    width: 50%;
    height: 11.8125rem;
    padding: 0;
  }
  #foot .social-btns {
    box-sizing: border-box;
  }
  #foot .social-btns a {
    width: 100%;
    height: 3.4375rem;
  }
  #foot .social-btns #padding1,
  #foot .social-btns #padding2,
  #foot .social-btns #padding3 {
    width: 50%;
    box-sizing: border-box;
    padding: 0 15px 0 0;
  }
  #foot .social-btns #padding2 {
    margin-right: 0;
    padding-right: 0;
    padding-left: 15px;
  }
  #partners .container {
    width: 58.75rem;
    margin: 0 auto;
  }
  #partners .container .accreditations {
    width: 58.75rem;
  }
  #partners .container .accreditations .f50 .logo {
    left: 33%;
  }
  #partners .container .accreditations .qms .logo {
    left: 28.5%;
  }
  #partners .container .accreditations .carbon .logo {
    left: 11.5%;
  }
  #partners .container .google .description {
    right: 11%;
  }
}

@media only screen and (max-width: 990px) {
  header .head-inner .container {
    margin: 0 auto;
    max-width: 46.875rem;
  }
  header .head-inner .container .support-btn,
  header .head-inner .container .contact-btn {
    display: none;
  }
  #main-nav {
    display: none;
  }
  #holder,
  #gallery {
    height: 697px;
  }
  #photo1 .container,
  #photo2 .container,
  #photo3 .container,
  #photo4 .container,
  #photo5 .container,
  #photo6 .container {
    max-width: 46.875rem;
    text-align: center;
  }
  .cards {
    justify-content: center;
  }
  .cards .web-design,
  .cards .IT-support,
  .cards .Telecoms-services,
  .cards .Bespoke-software,
  .cards .Digital-marketing,
  .cards .Cyber-security {
    width: 17.6875rem;
    margin: 15px;
  }
  #culture {
    background-image: none;
  }
  #culture .container {
    width: 46.875rem;
  }
  #culture .container .culture {
    width: 46.875rem;
    justify-content: center;
    align-content: center;
    margin: 0 auto;
  }
  #bar ul {
    width: 46.875rem;
  }
  #news-cards .container {
    width: 46.875rem;
    margin: 0 auto;
  }
  #news-cards .container .img-container {
    max-height: 200px;
  }
  #card3 {
    display: none;
  }
  #card1,
  #card2 {
    width: 21.5625rem;
  }
  #card1 {
    margin-right: 15px;
  }
  #card2 {
    margin-left: 15px;
  }
  #logos .container {
    width: 46.875rem;
  }
  #logos .container .busseys-logo {
    width: 132.75px;
    height: 49.42px;
    left: 12%;
  }
  #logos .container .crane-logo {
    width: 182.67px;
    height: 44.45px;
    left: 9%;
  }
  #logos .container .beat-logo {
    width: 65.57px;
    height: 63.74px;
    left: 21.8%;
  }
  #logos .container .beat-logo-BW {
    width: 65.57px;
    height: 63.74px;
  }
  #logos .container .northern-diver-logo {
    width: 200.33px;
    height: 43.55px;
    left: 8.05%;
  }
  #logos .container .busseys .decription .tooltip {
    top: -180px;
    left: -64px;
  }
  #logos .container .crane .decription .tooltip {
    top: -242px;
    left: -50px;
  }
  #logos .container .beat .decription .tooltip {
    top: -180px;
    left: -88px;
  }
  #logos .container .northern .decription .tooltip {
    top: -240px;
    left: -32px;
  }
  footer {
    height: 27.375rem;
  }
  #feet {
    padding-left: 15px;
  }
  #foot .social-btns #padding2 {
    padding-left: 0;
  }
  #foot {
    width: 46.875rem;
    height: 27.375rem;
    flex-wrap: wrap;
  }
  #foot .contact {
    width: 23.4375rem;
    height: 12.3125rem;
    padding: 0;
  }
  #foot .about {
    width: 23.4375rem;
    height: 13.6875rem;
    padding: 0;
  }
  #foot .website {
    width: 23.4375rem;
    height: 6.8125rem;
    padding: 0;
  }
  #foot #social {
    width: 23.4375rem;
    height: 11.8125rem;
    padding: 0;
  }
  #foot .social-btns a {
    width: 9.8125rem;
    height: 3.4375rem;
  }
  #partners .container {
    width: 46.875rem;
    margin: 0 auto;
  }
  #partners .container .accreditations {
    width: 46.875rem;
  }
  #partners .container .accreditations .f50 .logo {
    left: 29%;
  }
  #partners .container .accreditations .qms .logo {
    left: 24%;
  }
  #partners .container .accreditations .carbon .logo {
    height: 56px;
    width: 140.03px;
    left: 11%;
  }
  #partners .container .google .description {
    right: 11%;
  }
}

@media only screen and (max-width: 768px) {
  header .head-inner .container {
    margin: 0 auto;
    width: 100%;
    min-width: 520px;
  }
  header .head-inner .container .header-row {
    width: 100%;
    min-width: 520px;
    box-sizing: border-box;
  }
  header .head-inner .container .col-left {
    margin-left: 15px;
  }
  header .head-inner .container .col-right {
    margin-right: 15px;
  }
  header .head-inner .container .support-btn,
  header .head-inner .container .contact-btn {
    display: none;
  }
  header .head-inner .container .phone {
    display: inline-block;
  }
  #main-nav {
    display: none;
  }
  #holder,
  #gallery {
    width: 100%;
    min-width: 520px;
    height: 697px;
  }
  #photo1 .container,
  #photo2 .container,
  #photo3 .container,
  #photo4 .container,
  #photo5 .container,
  #photo6 .container {
    width: 100%;
    min-width: 100%;
    text-align: center;
  }
  #cards {
    justify-content: center;
    width: 100%;
    min-width: 520px;
  }
  #cards .web-design,
  #cards .IT-support,
  #cards .Telecoms-services,
  #cards .Bespoke-software,
  #cards .Digital-marketing,
  #cards .Cyber-security {
    width: 672px;
    min-width: 288px;
    margin: 30px 15px 0;
    padding: 30px;
  }
  #cards .web-design {
    margin-top: 0;
  }
  #culture {
    background-image: none;
    width: 100%;
    height: auto;
    min-width: 520px;
    box-sizing: border-box;
  }
  #culture .container {
    width: 100%;
    min-width: 520px;
    padding: 50px 15px;
    box-sizing: border-box;
  }
  #culture .container .culture {
    width: 100%;
    min-width: 490px;
    justify-content: center;
    align-content: center;
    margin: 0 auto;
  }
  #bar {
    width: 100%;
  }
  #bar ul {
    width: 100%;
    min-width: 520px;
    padding-left: 15px;
    margin: 0;
    box-sizing: border-box;
  }
  #news-cards {
    width: 100%;
    min-width: 520px;
    box-sizing: border-box;
  }
  #news-cards .container {
    width: 100%;
    max-width: 575px;
    min-width: 490px;
    padding: 50px 15px;
    flex-direction: column;
    align-items: center;
    align-content: center;
    box-sizing: border-box;
  }
  #news-cards .container .img-container,
  #news-cards .container .fog {
    max-height: 315px;
  }
  #card3 {
    display: flex;
  }
  #card1,
  #card2,
  #card3 {
    max-width: 545px;
    width: 100%;
    min-width: 114px;
    height: auto;
    margin: 0 15px;
  }
  #card1 .card-img-top,
  #card1 .card-body,
  #card2 .card-img-top,
  #card2 .card-body,
  #card3 .card-img-top,
  #card3 .card-body {
    display: table;
    height: fit-content;
    box-sizing: border-box;
  }
  #card1 .card-img-top .img-container,
  #card1 .card-body .img-container,
  #card2 .card-img-top .img-container,
  #card2 .card-body .img-container,
  #card3 .card-img-top .img-container,
  #card3 .card-body .img-container {
    box-sizing: border-box;
  }
  #card1 .card-img-top .Author,
  #card1 .card-body .Author,
  #card2 .card-img-top .Author,
  #card2 .card-body .Author,
  #card3 .card-img-top .Author,
  #card3 .card-body .Author {
    display: flex;
  }
  #card2,
  #card3 {
    margin-top: 50px;
  }
  #logos {
    display: none;
  }
  footer {
    height: fit-content;
  }
  #feet {
    padding: 47px 15px;
    box-sizing: border-box;
  }
  #foot {
    width: 100%;
    min-width: 490px;
    margin: 0;
    height: auto;
    flex-wrap: wrap;
    box-sizing: border-box;
  }
  #foot .contact {
    width: 23.4375rem;
    height: 12.3125rem;
    padding: 0;
    margin-bottom: 30px;
  }
  #foot .about {
    width: 23.4375rem;
    height: 13.6875rem;
    padding: 0;
    margin-bottom: 30px;
  }
  #foot .website {
    width: 23.4375rem;
    height: 6.8125rem;
    padding: 0;
    margin-bottom: 30px;
  }
  #foot #social {
    width: 100%;
    height: 11.8125rem;
    padding: 0;
    box-sizing: border-box;
  }
  #foot .social-btns {
    box-sizing: border-box;
    width: 100%;
    justify-content: space-between;
  }
  #foot .social-btns a {
    box-sizing: border-box;
    width: 100%;
    height: 55px;
    margin: 30px 0 0 0;
  }
  #foot .social-btns #padding1 {
    width: 50%;
    padding-right: 15px;
    box-sizing: border-box;
  }
  #foot .social-btns #padding2 {
    width: 50%;
    padding-left: 15px;
    box-sizing: border-box;
  }
  #foot .social-btns #padding3 {
    width: 50%;
    padding-right: 15px;
    box-sizing: border-box;
  }
  #partners {
    display: none;
  }
}

.logos {
  padding: 3.125rem 0;
  display: block;
}

.logos .container {
  margin: 0 auto;
  width: 73.125rem;
}

.Clients {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.busseys {
  width: 16.453125rem;
}

.busseys-logo {
  left: 14.8%;
}

.crane-logo {
  left: 9.5%;
}

.beat-logo {
  left: 28.7%;
}

.northern-diver-logo {
  left: 8.05%;
}

.crane {
  width: 22.640625rem;
}

.beat {
  width: 9.203125rem;
}

.northern {
  width: 24.828125rem;
}

.busseys,
.crane,
.beat,
.northern {
  display: inline-block;
  padding: 0 1.25rem;
  position: relative;
  vertical-align: middle;
  text-align: center;
}

.busseys img,
.crane img,
.beat img,
.northern img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

.Clients .logo {
  display: none;
  position: absolute;
  z-index: 1;
}

.Clients .bw {
  z-index: 2;
}

.busseys:hover .logo {
  display: block;
}

.busseys:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

.beat:hover .logo {
  display: block;
}

.beat:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

.crane:hover .logo {
  display: block;
}

.crane:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

.northern:hover .logo {
  display: block;
}

.northern:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

.tooltip {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  opacity: 0;
  padding: 20px;
  position: absolute;
  top: -180px;
  left: -20px;
  width: 220px;
  background-color: #333645;
  color: #fff;
  font-size: 12px;
  text-align: center;
  line-height: 1.5;
  text-transform: none;
  transition: visibility 0s, opacity 0s linear;
  z-index: 10000;
}

.tooltip h2 {
  margin: 0;
}

.tooltip p {
  font-size: .9rem;
  margin: 0;
}

.tooltip span {
  width: 28px;
  height: 3px;
  background-color: #fff;
  margin: 10px 0 10px;
}

.tooltip .arrow {
  position: absolute;
  bottom: -40px;
  width: 0;
  height: 0;
  border-left: 40px solid transparent;
  border-right: 40px solid transparent;
  border-top: 40px solid #333645;
}

.crane .tooltip {
  top: -245px;
  left: 10px;
  width: 220px;
}

.beat .tooltip {
  top: -182px;
  left: -63px;
  width: 220px;
}

.northern .tooltip {
  top: -245px;
  left: 40px;
  width: 220px;
}

.bar {
  height: 6.5rem;
  box-shadow: 0 0.3125rem 2.1875rem rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
  color: #333645;
  font-size: 1.25rem;
  background-color: #fff;
}

.bar ul {
  height: 6.5rem;
  width: 73.125rem;
  padding: 0;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.bar h4 {
  margin: 0;
}

.bar li {
  height: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.bar .block {
  width: 4.168rem;
  height: 0.3125rem;
  background-color: #333645;
}

.card {
  display: flex;
  flex-direction: column;
  border: 0.0625rem solid #ccc;
  border-radius: 0.1875rem;
  height: auto;
  width: 23.125rem;
  position: relative;
}

.news-cards {
  display: block;
  background-color: #fff;
  box-shadow: inset 0 0.3125rem 2.1875rem rgba(0, 0, 0, 0.1);
}

.news-cards .container {
  margin: 0 auto;
  padding: 3.125rem 15px;
  width: 73.125rem;
  display: flex;
  justify-content: center;
}

.card-body {
  padding: 1.875rem;
  height: 19.3125rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 55;
}

.card-body p {
  margin: 0 0 1.5625rem;
  font-size: 0.8125rem;
  line-height: 1.375rem;
  color: #666;
}

.card-body h3 {
  margin: 0 0 0.9375rem;
  font-size: 1rem;
}

#card1 {
  box-shadow: 0 0.3125rem 2.1875rem rgba(0, 0, 0, 0.1);
}

#card1 .title {
  color: #926fb1;
}

#card1 a:hover {
  text-decoration: underline;
  cursor: pointer;
}

#card1 .btn {
  background-color: #926fb1;
  text-transform: uppercase;
  color: #fff;
}

#card1 .btn:hover {
  background-color: #79539a;
}

#card2 {
  box-shadow: 0 0.3125rem 2.1875rem rgba(0, 0, 0, 0.1);
}

#card2 .title {
  color: #4183d7;
}

#card2 a:hover {
  text-decoration: underline;
  cursor: pointer;
}

#card2 .btn {
  background-color: #4183d7;
  text-transform: uppercase;
  color: #fff;
}

#card2 .btn:hover {
  background-color: #286abd;
}

#card3 {
  box-shadow: 0 0.3125rem 2.1875rem rgba(0, 0, 0, 0.1);
}

#card3 .title {
  color: #d64541;
}

#card3 a:hover {
  text-decoration: underline;
  cursor: pointer;
}

#card3 .btn {
  background-color: #d64541;
  text-transform: uppercase;
  color: #fff;
}

#card3 .btn:hover {
  background-color: #c42e2a;
}

.img-container {
  display: inline-block;
  width: 100%;
  max-height: 218.19px;
  overflow: hidden;
}

.img-container a {
  display: block;
  width: 100%;
  height: 100%;
}

.img-container img {
  width: 100%;
  height: 100%;
  transition: transform .2s;
  object-fit: fill;
}

.img-container .fog {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  transition: background-color .2s linear;
  z-index: 50;
}

.card-img-top {
  overflow: hidden;
}

.category {
  position: absolute;
  top: 10px;
  right: 0;
  font-size: 12px;
  font-weight: 600;
  padding: 0 10px;
  color: #fff;
  text-transform: uppercase;
  z-index: 51;
}

.category .tooltip {
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  opacity: 0;
  padding: 10px 20px;
  position: absolute;
  top: -65px;
  left: -68px;
  width: 150px;
  height: 30px;
  background-color: rgba(0, 0, 22, 0.651);
  font-weight: 500;
  font-size: 8px;
  text-align: center;
  line-height: 1.5;
  text-transform: none;
  transition: visibility 0s, opacity .2s linear;
}

.category .tooltip p {
  margin: 0;
}

.category .tooltip .arrow {
  position: absolute;
  bottom: -10px;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 10px solid rgba(0, 0, 0, 0.651);
}

.category:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

#card1 .category {
  background-color: #926fb1;
}

#card2 .category {
  background-color: #4183d7;
}

#card3 .category {
  background-color: #d64541;
}

.card-img-top:hover .fog {
  background-color: rgba(255, 255, 255, 0.4);
}

.card-img-top:hover img {
  transform: scale(1.1);
}

.Author .icon {
  margin: 0;
  max-width: 2.9375rem;
  max-height: 2.9375rem;
  vertical-align: middle;
}

.Author {
  margin-top: 1.875rem;
  padding-top: 1.875rem;
  border-top: 0.0625rem solid #ccc;
  width: 100%;
  display: table;
}

.Author .details {
  padding: 0 0 0 1.25rem;
  display: table-cell;
  vertical-align: middle;
}

.card-body .btn {
  display: flex;
  width: 6.0125rem;
  height: 2.15rem;
  align-items: center;
  font-size: 1.063rem;
}

.card-body #btn:hover {
  text-decoration: none;
}

.header {
  background-color: #fff;
  display: block;
  width: 100%;
  position: relative;
}

.head-inner {
  padding: 1.25rem 0;
  display: flex;
  justify-content: center;
  width: 100%;
}

.head-inner .container {
  margin: 0 9.78125rem;
  padding: 0;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
}

.header-row {
  display: flex;
  width: 73.125rem;
}

.header-buttons {
  display: flex;
  padding: 0.4375rem 0;
  float: right;
}

.menu-btn {
  text-align: center;
  height: 54px;
  border-style: none;
}

.menu-btn:focus {
  outline: none;
}

.header-buttons .btn {
  font-size: 1.125rem;
  color: #fff;
  height: 56px;
  box-sizing: border-box;
}

.phone {
  display: none;
  position: relative;
  width: 30px;
  padding: 5px 15px;
  transform: rotate(90deg);
}

.phone .fa-wifi,
.phone .fa-phone,
.phone .hide-dot {
  color: #333645;
  position: absolute;
  cursor: pointer;
}

.phone .hide-dot {
  content: "";
  background-color: white;
  border-radius: 50%;
  height: 6px;
  width: 6px;
  z-index: 20;
  bottom: 25.8px;
  right: 30px;
}

.phone .fa-wifi {
  font-size: 15px;
  transform: rotate(-45deg);
  top: 14px;
  left: 14px;
}

.phone .fa-phone {
  font-size: 27px;
  top: 13px;
}

.contact-btn,
.menu-btn {
  margin-left: 1.25rem;
}

.support-btn i,
.contact-btn i {
  font-size: 1.4375rem;
  margin: 0 0.75rem 0 -0.25rem;
}

.col-left {
  width: 50%;
  padding-right: 0.9375rem;
  float: left;
}

.NM-logo {
  display: flex;
  align-items: center;
  cursor: default;
  width: 100%;
}

.NM-logo img {
  cursor: pointer;
  min-height: 70px;
}

.col-right {
  width: 50%;
  padding-left: 0.9375rem;
  float: right;
}

.support-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4183d7;
}

.contact-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #999aa2;
}

.header-buttons .menu-btn {
  background-color: #333645;
  display: inline-block;
  font-size: 0.75rem;
}

.support-btn:hover {
  background-color: #286abd;
}

.contact-btn:hover {
  background-color: #848584;
}

.menu-btn:hover {
  background-color: #22242e;
}

#info .container {
  display: flex;
  justify-content: center;
  padding: 3.125rem 0;
  margin: 0 auto;
  background-color: #fff;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: 73.125rem;
}

.web-design,
.IT-support,
.Telecoms-services,
.Bespoke-software,
.Digital-marketing,
.Cyber-security {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  border-radius: 0.1875rem;
  cursor: pointer;
  padding: 1.875rem;
  margin: 0.9375rem 0.9375rem;
  box-shadow: 0 0.1875rem 2.1875rem rgba(0, 0, 0, 0.1);
  border: 0.0625rem solid #ccc;
}

.web-design,
.IT-support {
  width: 31.75rem;
}

.center {
  display: flex;
  justify-content: center;
}

.web-design,
.Telecoms-services {
  margin: 0.9375rem 0.9375rem 0.9375rem 0;
}

.IT-support,
.Cyber-security {
  margin: 0.9375rem 0 0.9375rem 0.9375rem;
}

.Telecoms-services,
.Bespoke-software,
.Digital-marketing,
.Cyber-security {
  width: 13rem;
}

.cards span {
  height: 0.1875rem;
  width: 1.75rem;
  margin: auto;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #333645;
}

.cards h2 {
  margin: 0 0 0.6875rem;
  padding: 0 0 1.0625rem;
  font-size: 1.125rem;
  font-weight: 300;
  position: relative;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  border-radius: 50%;
  width: 3.75rem;
  height: 3.75rem;
  margin: 0 auto 1.0625rem;
}

.icon i {
  font-size: 1.5em;
}

.cards p {
  margin: 0 0 0.8125rem;
  font-size: 0.8125rem;
}

.cards .btn {
  display: flex;
  align-items: center;
  color: #fff;
  padding: 0.3125rem 0.9375rem;
  width: 6.0125rem;
  height: 2.15rem;
}

.web-design .btn,
.web-design .icon {
  background-color: #926fb1;
}

.IT-support .btn,
.IT-support .icon {
  background-color: #4183d7;
}

.Telecoms-services .btn,
.Telecoms-services .icon {
  background-color: #d64541;
}

.Bespoke-software .btn,
.Bespoke-software .icon {
  background-color: #67809f;
}

.Digital-marketing .btn,
.Digital-marketing .icon {
  background-color: #2ecc71;
}

.Cyber-security .btn,
.Cyber-security .icon {
  background-color: #f62459;
}

.web-design:hover {
  background-color: #926fb1;
  color: #fff;
}

.web-design:hover .btn,
.web-design:hover .icon,
.web-design:hover span {
  background-color: #fff;
  color: #926fb1;
}

.IT-support:hover {
  background-color: #4183d7;
  color: #fff;
}

.IT-support:hover .btn,
.IT-support:hover .icon,
.IT-support:hover span {
  background-color: #fff;
  color: #4183d7;
}

.Telecoms-services:hover {
  background-color: #d64541;
  color: #fff;
}

.Telecoms-services:hover .btn,
.Telecoms-services:hover .icon,
.Telecoms-services:hover span {
  background-color: #fff;
  color: #d64541;
}

.Bespoke-software:hover {
  background-color: #67809f;
  color: #fff;
}

.Bespoke-software:hover .btn,
.Bespoke-software:hover .icon,
.Bespoke-software:hover span {
  background-color: #fff;
  color: #67809f;
}

.Digital-marketing:hover {
  background-color: #2ecc71;
  color: #fff;
}

.Digital-marketing:hover .btn,
.Digital-marketing:hover .icon,
.Digital-marketing:hover span {
  background-color: #fff;
  color: #2ecc71;
}

.Cyber-security:hover {
  background-color: #f62459;
  color: #fff;
}

.Cyber-security:hover .btn,
.Cyber-security:hover .icon,
.Cyber-security:hover span {
  background-color: #fff;
  color: #f62459;
}

footer {
  background-color: #333645;
  color: #fff;
  padding: 2.9375rem 0 2.6875rem;
  height: auto;
  box-sizing: border-box;
}

.footer-info {
  margin: 0 auto;
  width: 73.125rem;
  height: auto;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}

.social,
.website,
.about,
.contact {
  padding: 0 0.9375rem;
}

.social li,
.website li,
.about li,
.contact li {
  font-size: 0.8125rem;
  line-height: 1.375rem;
}

#social {
  width: 18.4375rem;
}

#social h4 {
  margin: 0;
}

.social-btns {
  display: flex;
  flex-wrap: wrap;
}

.footer-info h4 {
  margin: 0 0 1.625rem;
  font-weight: 200;
  text-transform: uppercase;
}

.social-btn {
  color: #fff;
  height: 3.4rem;
  width: 7.03125rem;
  margin: 1.875rem 1.875rem 0 0;
  background-color: rgba(0, 0, 0, 0.25);
  font-size: 1.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

#facebook:hover {
  background-color: #3b5998;
}

#twitter:hover {
  background-color: #00aced;
}

#linkedin:hover {
  background-color: #0077b5;
}

.brand-image {
  background-image: url(../../IMGs/branded.png);
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: right center;
  height: 34.375rem;
  background-color: #333645;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: left;
}

.brand-image .container {
  margin: 0 auto;
  padding: 0;
  width: 73.125rem;
  height: fit-content;
  top: 10%;
}

.culture {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 35.625rem;
  box-sizing: border-box;
}

.culture h1,
.culture p {
  margin: 0 0 1.5625rem;
  box-sizing: border-box;
}

.culture h1 {
  text-transform: uppercase;
  font-weight: 200;
  line-height: 1.1;
  letter-spacing: 0.025rem;
  font-size: 2.25rem;
  box-sizing: border-box;
}

.culture p {
  line-height: 1.875rem;
}

.culture .btn {
  display: inline-block;
  background-color: #fff;
  text-transform: uppercase;
  font-size: 1.063rem;
  line-height: 2.1875rem;
  padding: 0.3125rem 0.9375rem;
  height: auto;
  color: #333645;
  white-space: normal;
  margin-bottom: 0;
  cursor: pointer;
  border: none;
}

.culture .btn:hover {
  background-color: #d6d6d6;
}

.Main-nav {
  background-color: #333645;
  display: block;
  height: 6.35rem;
  position: relative;
}

.Main-nav a {
  text-decoration: none;
  color: #fff;
  display: block;
  text-align: center;
  line-height: 1;
  padding: 1.1875rem 0 1.125rem;
}

.Main-nav .container {
  margin: 0 auto;
  padding: 0;
  width: 75rem;
}

.navbar-nav {
  display: flex;
  justify-content: space-evenly;
  text-transform: uppercase;
  width: 73.125rem;
  padding: 0;
  border-right: 0.0625rem solid rgba(0, 0, 0, 0.25);
  border-left: 0.0625rem solid rgba(255, 255, 255, 0.1);
}

.web,
.IT,
.telecoms,
.software,
.marketing,
.security {
  border-right: 0.0625rem solid rgba(255, 255, 255, 0.1);
  border-left: 0.0625rem solid rgba(0, 0, 0, 0.25);
  width: 12.1875rem;
}

.nav-link {
  color: #fff;
}

.nav-link i,
.nav-link small {
  width: 100%;
  text-align: center;
}

.nav-link i {
  font-size: 1.438rem;
  padding-bottom: 0.625rem;
}

.nav-link small {
  padding-bottom: 0.0625rem;
  display: inline-block;
}

.nav-menu {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-transform: uppercase;
  font-size: 1rem;
  height: 2.8125rem;
  width: 73.125rem;
  color: #fff;
  margin: 0 auto;
}

.nav-menu li:not(:first-child) {
  padding-left: 30px;
}

.strip {
  display: none;
  width: 100%;
  height: 2.8125rem;
  left: 0;
  position: fixed;
  z-index: 10;
}

.web .nav-menu,
.web .strip {
  background-color: #79539a;
}

.IT .nav-menu,
.IT .strip {
  background-color: #286abd;
}

.telecoms .nav-menu,
.telecoms .strip {
  background-color: #c42e2a;
}

.software .nav-menu,
.software .strip {
  background-color: #566c88;
}

.marketing .nav-menu,
.marketing .strip {
  background-color: #25a25a;
}

.security .nav-menu,
.security .strip {
  background-color: #e80a42;
}

.web i {
  color: #926fb1;
}

.IT i {
  color: #4183d7;
}

.telecoms i {
  color: #d64541;
}

.software i {
  color: #67809f;
}

.marketing i {
  color: #2ecc71;
}

.security i {
  color: #f62459;
}

.web:hover {
  background-color: #926fb1;
  border-right: 0.0625rem solid #926fb1;
  border-left: 0.0625rem solid #926fb1;
}

.web:hover i {
  color: #fff;
}

.web:hover .strip {
  display: flex;
  justify-content: center;
  position: absolute;
}

.IT:hover {
  background-color: #4183d7;
  border-right: 0.0625rem solid #4183d7;
  border-left: 0.0625rem solid #4183d7;
}

.IT:hover i {
  color: #fff;
}

.IT:hover .strip {
  display: flex;
  justify-content: center;
  position: absolute;
}

.telecoms:hover {
  background-color: #d64541;
  border-right: 0.0625rem solid #d64541;
  border-left: 0.0625rem solid #d64541;
}

.telecoms:hover i {
  color: #fff;
}

.telecoms:hover .strip {
  display: flex;
  justify-content: center;
  position: absolute;
}

.software:hover {
  background-color: #67809f;
  border-right: 0.0625rem solid #67809f;
  border-left: 0.0625rem solid #67809f;
}

.software:hover i {
  color: #fff;
}

.software:hover .strip {
  display: flex;
  justify-content: center;
  position: absolute;
}

.marketing:hover {
  background-color: #2ecc71;
  border-right: 0.0625rem solid #2ecc71;
  border-left: 0.0625rem solid #2ecc71;
}

.marketing:hover i {
  color: #fff;
}

.marketing:hover .strip {
  display: flex;
  justify-content: center;
  position: absolute;
}

.security:hover {
  background-color: #f62459;
  border-right: 0.0625rem solid #f62459;
  border-left: 0.0625rem solid #f62459;
}

.security:hover i {
  color: #fff;
}

.security:hover .strip {
  display: flex;
  justify-content: center;
  position: absolute;
}

.gallery {
  width: 100%;
  height: 727px;
  overflow: hidden;
  clear: both;
  box-sizing: border-box;
}

.photo-holder {
  width: 100%;
  height: 727px;
  display: flex;
  transform-style: preserve-3d;
}

.photo-holder div {
  flex-shrink: 0;
}

.gallery-image {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateX(0);
  transition: transform .4s;
  color: #fff;
}

.gallery-image h1 {
  text-transform: uppercase;
  font-weight: 200;
  font-size: 3rem;
  margin: 0 0 1.5625rem;
}

.gallery-image p,
.gallery-image a {
  font-size: 1.25rem;
}

.gallery-image p {
  margin: 0 0 2.1875rem;
  line-height: 2.25rem;
}

.gallery-image a {
  padding: 1.25rem 1.25rem 0;
  display: inline-block;
  cursor: pointer;
  vertical-align: middle;
  text-align: center;
  height: 2.625rem;
}

.gallery-image .container {
  margin: 0 auto;
  width: 73.125rem;
  padding: 0;
}

.gallery-controls {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  bottom: 3.75rem;
}

.controls-spacing {
  width: 11.625rem;
  display: flex;
  justify-content: center;
  justify-content: space-between;
}

.gallery-controls span {
  display: inline-flex;
  width: 0.6875rem;
  height: 0.6875rem;
  background-color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
}

.gallery-dot:hover {
  background-color: #999aa2;
}

div .focus-dot {
  background: #fff;
}

div .focus-dot::before {
  content: '';
  position: absolute;
  border-radius: 100%;
  height: 17px;
  width: 17px;
  border: 2px #fff solid;
  left: -5px;
  top: -5px;
}

div .focus-dot:hover {
  background-color: #fff;
}

#photo1 {
  background-image: linear-gradient(70deg, black, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url(../IMGs/Wacom-scroll-photo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#photo1 a {
  background-color: #926fb1;
}

#photo1 a:hover {
  background-color: #79539a;
}

#photo2 {
  background-image: linear-gradient(70deg, black, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url(../IMGs/Support-scroll-photo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#photo2 a {
  background-color: #4183d7;
}

#photo2 a:hover {
  background-color: #286abd;
}

#photo3 {
  background-image: linear-gradient(70deg, black, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url(../IMGs/phone-scroll-photo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#photo3 a {
  background-color: #d64541;
}

#photo3 a:hover {
  background-color: #c42e2a;
}

#photo4 {
  background-image: linear-gradient(70deg, black, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url(../IMGs/graph-scroll-photo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#photo4 a {
  background-color: #67809f;
}

#photo4 a:hover {
  background-color: #566c88;
}

#photo5 {
  background-image: linear-gradient(70deg, black, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url(../IMGs/home-scroll-photo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#photo5 a {
  background-color: #2ecc71;
}

#photo5 a:hover {
  background-color: #25a25a;
}

#photo6 {
  background-image: linear-gradient(70deg, black, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url(../IMGs/Lock-scroll-photo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#photo6 a {
  background-color: #f62459;
}

#photo6 a:hover {
  background-color: #e80a42;
}

.popup {
  position: absolute;
}

.live-chat {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 1.25rem;
  left: 1.25rem;
  color: #fff;
  background-color: #509bd6;
  border-radius: 50%;
  width: 3.75rem;
  height: 3.75rem;
  text-align: center;
  z-index: 1001;
  cursor: pointer;
}

.live-chat i {
  font-size: 1.875rem;
}

.notification {
  position: absolute;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  background-color: red;
  top: 0;
  right: 0;
}

.sideMenu-container {
  background-color: #333645;
  height: 100%;
  width: 350px;
  position: absolute;
  right: 0px;
  z-index: -100;
}

.sideMenu-container .sideMenu {
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

.sideMenu-container .sideMenu a {
  display: block;
  padding: 20px;
  font-size: 16px;
  color: #fff;
  background: transparent;
  height: 56px;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(0, 0, 0, 0.45);
  border-top: 1px solid rgba(255, 255, 255, 0.05);
}

.sideMenu-container .sideMenu a:link {
  text-decoration: none;
}

.sideMenu-container .sideMenu .training li a,
.sideMenu-container .sideMenu .company li a,
.sideMenu-container .sideMenu .work li a,
.sideMenu-container .sideMenu .knowledge li a {
  padding: 15px 20px;
  font-size: 0.875rem;
  background-color: rgba(0, 0, 0, 0.25);
  height: 51px;
}

.sideMenu-container .sideMenu .training li a i,
.sideMenu-container .sideMenu .company li a i,
.sideMenu-container .sideMenu .work li a i,
.sideMenu-container .sideMenu .knowledge li a i {
  font-size: 9px;
  padding-right: 15px;
}

.sideMenu-container .sideMenu .training:hover .trainingA {
  background-color: rgba(255, 255, 255, 0.05);
}

.sideMenu-container .sideMenu .company:hover .companyA {
  background-color: rgba(255, 255, 255, 0.05);
}

.sideMenu-container .sideMenu .work:hover .workA {
  background-color: rgba(255, 255, 255, 0.05);
}

.sideMenu-container .sideMenu .knowledge:hover .knowledgeA {
  background-color: rgba(255, 255, 255, 0.05);
}

#overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  opacity: 1;
  background: rgba(0, 0, 0, 0.4);
  transition: transform .5s, opacity .5s;
  cursor: pointer;
}

* {
  font-family: 'Poppins', sans-serif;
}

html,
body {
  width: 100%;
  min-width: 575px;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow: hidden;
}

#viewport {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100vh;
  width: 100%;
  position: absolute;
  z-index: 1;
  transform: translateX(0);
  transition: transform .5s;
}

body {
  font-size: 1rem;
  letter-spacing: 0.025rem;
  margin: 0;
  line-height: 1.375rem;
}

.btn {
  border-radius: 0.1875rem;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0.3125rem 0.9375rem;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
}

.table {
  display: table;
}

li {
  list-style-type: none;
}

ul {
  margin: 0;
  padding: 0;
}

small {
  font-size: 0.625rem;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

#header {
  background-color: white;
}

.overflow {
  z-index: 1000;
  transition: transform .5s;
}
