// Fontfamilys ----------------------------
// font-family: 'Roboto', sans-serif;   ---
// font-family: 'Poppins', sans-serif;  ---
// Fontfamilys ----------------------------

@import 'Partials/Attributes', 'Partials/layout', 'Partials/partners', 'Partials/mediaq', 'Partials/clients', 'Partials/latestnews', 'Partials/stickyheader', 'Partials/header', 'Partials/infocards', 'Partials/footer', 'Partials/culturesection', 'Partials/navbar', 'Partials/gallery', 'Partials/buttons', 'Partials/mixins', 'Partials/typography', 'Partials/popups';

* {
    // border: 1px solid;
    font-family: 'Poppins', sans-serif;
}

html {
    width: 100%;
    min-width: 520px;
}

body {
    font-size: 1rem;
    letter-spacing: 0.025rem;
    margin: 0;
    line-height: 1.375rem;
}

.table {
    display: table;
}

li {
    list-style-type: none;
}

ul {
    margin: 0;
    padding: 0;
}

small {
    font-size: 0.625rem;
}

// Clear fix

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

