// color attributes / -------------------

$lightpurple: #926fb1;
$purple: #79539a;

$blue: #286abd;
$lightblue: #4183d7;

$steelblue: #67809f;
$darksteelblue: #566c88;

$red: #d64541;
$darkred: #c42e2a;

$rose: #f62459;
$darkrose: #e80a42;

$green: #25a25a;
$lightgreen: #2ecc71;

$darkgrey: #333645;
$white: #fff;
$fadedwhite: #d6d6d6;
$grey: #999aa2;
$fadedblack: #444;
$fadedgrey: #848584;
$black:#22242e;

$twitter: #00aced;
$linkedin: #0077b5;
$facebook: #3b5998;

$required: #d24d57;

// ----------------------------------------