.logos {
    padding: 3.125rem 0;
    display: block;
}

.logos .container {
    margin: 0 auto;
    width: 73.125rem;
    ;
}

.Clients {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.busseys {
    width: 16.453125rem;
}

.busseys-logo {
    left: 14.8%;
}

.crane-logo {
    left: 9.5%;
}

.beat-logo {
    left: 28.7%;
}

.northern-diver-logo {
    left: 8.05%;
}

.crane {
    width: 22.640625rem;
}

.beat {
    width: 9.203125rem;
}

.northern {
    width: 24.828125rem;
}

.busseys,
.crane,
.beat,
.northern {
    display: inline-block;
    padding: 0 1.25rem;
    position: relative;
    vertical-align: middle;
    text-align: center;

    img {
        max-width: 100%;
        height: auto;
        vertical-align: middle;
    }
}

.Clients .logo {
    display: none;
    position: absolute;
    z-index: 1;
}

.Clients .bw {
    z-index: 2;
}

.busseys:hover {
    .logo {
        display: block;
    }

    .tooltip {
        visibility: visible;
        opacity: 1;

    }
}

.beat:hover {
    .logo {
        display: block;
    }
    .tooltip {
        visibility: visible;
        opacity: 1;

    }
}

.crane:hover {
    .logo {
        display: block;
    }

    .tooltip {
        visibility: visible;
        opacity: 1;

    }
}

.northern:hover {
    .logo {
        display: block;
    }
    .tooltip {
        visibility: visible;
        opacity: 1;

    }
}

.tooltip {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    opacity: 0;
    padding: 20px;
    position: absolute;
    top: -180px;
    left: -20px;
    width: 220px;
    background-color: $darkgrey;
    color: $white;
    font-size: 12px;
    text-align: center;
    line-height: 1.5;
    text-transform: none;
    transition: visibility 0s, opacity 0s linear;

    h2 {
        margin: 0;
    }

    p {
        font-size: .9rem;
        margin: 0;
    }

    span {
        width: 28px;
        height: 3px;
        background-color: $white;
        margin: 10px 0 10px;
    }

    .arrow {
        position: absolute;
        bottom: -40px;
        width: 0;
        height: 0;
        border-left: 40px solid transparent;
        border-right: 40px solid transparent;
        border-top: 40px solid $darkgrey;
    }
}

.crane {
    .tooltip {
        top: -245px;
        left: 10px;
        width: 220px;
    }
}

.beat {
    .tooltip {
        top: -182px;
        left: -63px;
        width: 220px;
    }
}

.northern {
    .tooltip {
        top: -245px;
        left: 40px;
        width: 220px;
    }
}