.brand-image {
    background-image: url(../../IMGs/branded.png);
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: right center;
    height: 34.375rem;
    background-color: $darkgrey;
    color: $white;
    display: flex;
    align-items: center;
    justify-content: left;
}

.brand-image .container {
    margin: 0 auto;
    padding: 0;
    width: 73.125rem;
    height: fit-content;
    top: 10%;
}

.culture {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 35.625rem;
    box-sizing: border-box;
    h1,
    p {
        margin: 0 0 1.5625rem;
        box-sizing: border-box;
    }
    h1 {
        text-transform: uppercase;
        font-weight: 200;
        line-height: 1.1;
        letter-spacing: 0.025rem;
        font-size: 2.25rem;
        box-sizing: border-box;
    }
    p {
        line-height: 1.875rem;
    }
    .btn {
        display: inline-block;
        background-color: $white;
        text-transform: uppercase;
        font-size: 1.063rem;
        line-height: 2.1875rem;
        padding: 0.3125rem 0.9375rem;
        height: auto;
        color: $darkgrey;
        white-space: normal;
        margin-bottom: 0;
        cursor: pointer;
        border: none;
    }
    .btn:hover {
        background-color: $fadedwhite;
    }
}