footer {
    background-color: $darkgrey;
    color: $white;
    padding: 2.9375rem 0 2.6875rem;
}

.footer-info {
    margin: 0 auto;
    width: 75rem;
    height: 15.15rem;
    display: flex;
    justify-content: space-between;
}

.social,
.website,
.about,
.contact {
    padding: 0 0.9375rem;
    li {
        font-size: 0.8125rem;
        line-height: 1.375rem;
    }
}

.social {
    width: 18.4375rem;
    h4 {
        margin: 0;
    }
}

.social-btns {
    display: flex;
    flex-wrap: wrap;
    
}

.footer-info h4 {
    margin: 0 0 1.625rem;
    font-weight: 200;
    text-transform: uppercase;
}


.social-btn {
    color: $white;
    height: 3.4rem;
    width: 7.03125rem;
    margin: 1.875rem 1.875rem 0 0;
    background-color: rgba(0,0,0,0.25);
    font-size: 1.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

#facebook:hover{
    background-color: $facebook;
}

#twitter:hover{
    background-color: $twitter;
}

#linkedin:hover{
    background-color: $linkedin;
}