// gallery --------------------------------

.gallery {
    width: 100%;
    height: 727px;
    overflow: hidden;
    clear: both;
    box-sizing: border-box;
}

.photo-holder {
    width: 100%;
    height: 727px;

    display: flex;

    transform-style: preserve-3d;

    div {
        flex-shrink: 0;
    }

}

// content ---------------------------------

.gallery-image {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(0);
    transition: transform .4s;
    color: $white;
    h1 {
        text-transform: uppercase;
        font-weight: 200;
        font-size: 3rem;
        margin: 0 0 1.5625rem;
    }
    p,
    a {
        font-size: 1.25rem;
    }
    p {
        margin: 0 0 2.1875rem;
        line-height: 2.25rem;
    }
    a {
        padding: 1.25rem 1.25rem 0;
        display: inline-block;
        cursor: pointer;
        vertical-align: middle;
        text-align: center;
        height: 2.625rem;
    }
    .container {
        margin: 0 auto;
        width: 73.125rem;
        padding: 0;
    }
}

// controls ----------------------------------------

.gallery-controls {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    bottom: 3.75rem;
}

.controls-spacing {
    width: 11.625rem;
    display: flex;
    justify-content: center;
    justify-content: space-between;
}

.gallery-controls span {
    display: inline-flex;
    width: 0.6875rem;
    height: 0.6875rem;
    background-color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
}

.gallery-dot:hover {
    background-color: $grey;
}

div .focus-dot {
    background: $white;
    &::before {
        content: '';
        position: absolute;
        border-radius: 100%;
        height: 17px;
        width: 17px;
        border: 2px $white solid;
        left: -5px;
        top: -5px;
    }
    &:hover {
        background-color: $white;
    }
}


// slides ---------------------------------------------------------------------------------------------------------------------------

#photo1 {
    background-image: linear-gradient(70deg, black, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url(../IMGs/Wacom-scroll-photo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    

    a {
        background-color: $lightpurple;
    }
    a:hover {
        background-color: $purple;
    }
}

#photo2 {
    background-image: linear-gradient(70deg, black, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url(../IMGs/Support-scroll-photo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
    a {
        background-color: $lightblue;
    }
    a:hover {
        background-color: $blue;
    }
}

#photo3 {
    background-image: linear-gradient(70deg, black, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url(../IMGs/phone-scroll-photo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    a {
        background-color: $red;
    }
    a:hover {
        background-color: $darkred;
    }
}

#photo4 {
    background-image: linear-gradient(70deg, black, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url(../IMGs/graph-scroll-photo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    a {
        background-color: $steelblue;
    }
    a:hover {
        background-color: $darksteelblue;
    }
}

#photo5 {
    background-image: linear-gradient(70deg, black, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url(../IMGs/home-scroll-photo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    a {
        background-color: $lightgreen;
    }
    a:hover {
        background-color: $green;
    }
}

#photo6 {
    background-image: linear-gradient(70deg, black, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url(../IMGs/Lock-scroll-photo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    a {
        background-color: $rose;
    }
    a:hover {
        background-color: $darkrose;
    }
}
