.gallery {
    width: 100%;
    height: 491px;
    overflow: hidden;
    clear: both;
}

.photo-holder {
    width: 1920px;
    height: 491px;

    display: flex;

    overflow-x: hidden;
    scroll-snap-type: x mandatory;

    scroll-behavior: smooth;

    div {
        scroll-snap-align: start;
        flex-shrink: 0;
    }

}

.gallery-image {
    width: 1920px;
    display: flex;
    align-items: center;
    color: $white;
    .container {
        margin: 0 159px;
    }
    h1 {
        text-transform: uppercase;
        font-weight: 200;
        font-size: 48px;
        margin: 0 0 25px;
    }
    p,
    a {
        font-size: 20px;
    }
    p {
        margin: 0 0 35px;
        line-height: 2.25rem;
    }
    a {
        padding: 15px 20px;
        display: inline-block;
        cursor: pointer;
        vertical-align: middle;
        text-align: center;
    }
}

.gallery-controls {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    bottom: 60px;
}

.controls-spacing {
    width: 186px;
    display: flex;
    justify-content: center;
    justify-content: space-between;
}

.gallery-controls a {
    display: inline-flex;
    width: 11px;
    height: 11px;
    background-color: $white;
    text-decoration: none;
    border-radius: 50%;
}


// slides

#photo1 {
    background-image: linear-gradient(70deg, black, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url(../IMGs/Wacom-scroll-photo.jpg);
    background-repeat: no-repeat;
    background-origin: content-box;

    a {
        background-color: $lightpurple;
    }
    a:hover {
        background-color: $purple;
    }
}

#photo2 {
    background-image: linear-gradient(70deg, black, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url(../IMGs/Support-scroll-photo.jpg);
    background-repeat: no-repeat;
    
    a {
        background-color: $lightblue;
    }
    a:hover {
        background-color: $blue;
    }
}

#photo3 {
    background-image: linear-gradient(70deg, black, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url(../IMGs/phone-scroll-photo.jpg);
    background-repeat: no-repeat;

    a {
        background-color: $red;
    }
    a:hover {
        background-color: $darkred;
    }
}

#photo4 {
    background-image: linear-gradient(70deg, black, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url(../IMGs/graph-scroll-photo.jpg);
    background-repeat: no-repeat;

    a {
        background-color: $steelblue;
    }
    a:hover {
        background-color: $darksteelblue;
    }
}

#photo5 {
    background-image: linear-gradient(70deg, black, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url(../IMGs/home-scroll-photo.jpg);
    background-repeat: no-repeat;

    a {
        background-color: $lightgreen;
    }
    a:hover {
        background-color: $green;
    }
}

#photo6 {
    background-image: linear-gradient(70deg, black, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url(../IMGs/Lock-scroll-photo.jpg);
    background-repeat: no-repeat;

    a {
        background-color: $rose;
    }
    a:hover {
        background-color: $darkrose;
    }
}
