header {
    background-color: $white;
    display: block;
}

.head-inner {
    padding: 20px 0;
    text-align: center;
}

.head-inner .container {
    margin: 0 156.5px;
    padding: 0;
}

.header-row {
    display: flex;
    align-items: center;
}

.header-buttons {
    display: flex;
    padding: 7px 0;
    float: right;
}

.header-buttons .btn {
    height: 44px;
    font-size: 18px;
    color: $white;
}

.contact-btn,
.menu-btn {
    margin-left: 20px;
}

.support-btn i,
.contact-btn i {
    font-size: 23px;
    margin: 0 12px 0 -4px;
}

.menu-btn i {
    font-size: 26px;
}

.col-left {
    width: 50%;
    padding: 0 15px;
    float: left;
}

.NM-logo {
    display: flex;
    align-items: center;
}

.col-right {
    width: 50%;
    padding: 0 15px;
    float: right;
}

.support-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 111.012px;
    background-color: $lightblue;
}

.contact-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 119.113px;
    background-color: $grey;
}

.header-buttons .menu-btn {
    background-color: $darkgrey;
    display: inline-block;
    font-size: 12px;
}

.support-btn:hover {
    background-color: $blue;
}

.contact-btn:hover {
    background-color: $fadedgrey;
}

.menu-btn:hover {
    background-color: $black;
}