header {
    background-color: $white;
    display: block;
}

.head-inner {
    padding: 1.25rem 0;
    display: flex;
    justify-content: center;
}

.head-inner .container {
    margin: 0 9.78125rem;
    padding: 0;
    max-width: 73.125rem;;
    display: flex;
    justify-content: space-between;
}

.header-row {
    display: flex;
    width: 73.125rem;;
}

.header-buttons {
    display: flex;
    padding: 0.4375rem 0;
    float: right;
}

.header-buttons .btn {
    height: 2.75rem;
    font-size: 1.125rem;
    color: $white;
}

.phone {
    display: none;
    position: relative;
    width: 30px;
    padding: 5px 15px;
    transform: rotate(90deg);
    .fa-wifi,
    .fa-phone,
    .hide-dot { 
        color: $darkgrey;
        position: absolute;
        cursor: pointer;
    }
    .hide-dot {
        content: "";
        background-color: white;
        border-radius: 50%;
        height: 6px;
        width: 6px;
        z-index: 20;
        bottom: 25.8px;
        right: 30px;
    }
    .fa-wifi {
        font-size: 15px;
        transform: rotate(-45deg);
        top: 14px;
        left: 14px;
    }
    .fa-phone{
        font-size: 27px;
        top: 13px;
    }
}

.contact-btn,
.menu-btn {
    margin-left: 1.25rem;
}

.support-btn i,
.contact-btn i {
    font-size: 1.4375rem;
    margin: 0 0.75rem 0 -0.25rem;
}

.menu-btn i {
    font-size: 1.625rem;
}

.menu-btn {
    text-align: center;
    vertical-align: middle;
}

.col-left {
    width: 50%;
    padding-right: 0.9375rem ;
    float: left;
}

.NM-logo {
    display: flex;
    align-items: center;
    cursor: default;
    width: 100%;
    img {
        cursor: pointer;
        min-height: 70px;
    }
}

.col-right {
    width: 50%;
    padding-left: 0.9375rem;
    float: right;
}

.support-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6.93825rem;
    background-color: $lightblue;
}

.contact-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 7.4445625rem;
    background-color: $grey;
}

.header-buttons .menu-btn {
    background-color: $darkgrey;
    display: inline-block;
    font-size: 0.75rem;
}

.support-btn:hover {
    background-color: $blue;
}

.contact-btn:hover {
    background-color: $fadedgrey;
}

.menu-btn:hover {
    background-color: $black;
}