.bar {
    height: 6.5rem;
    box-shadow: 0 0.3125rem 2.1875rem rgba(0, 0, 0, 0.1);
    text-transform: uppercase;
    color: $darkgrey;
    font-size: 1.25rem;
    ul {
        height: 6.5rem;
        width: 75rem;
        padding: 0;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
    h4 {
        margin: 0;
    }

    li {
        padding-top: auto;
        height: 4rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .block {
        width: 4.168rem;
        height: 0.3125rem;
        background-color: $darkgrey;
    }
}



.card {
    display: flex;
    flex-direction: column;
    border: 0.0625rem solid #ccc;
    border-radius: 0.1875rem;
    height: 36.49125rem;
    width: 23.125rem;
}

.news-cards {
    box-shadow: 0 0.3125rem 2.1875rem rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;

    .container {
        margin: 0 9.9375rem;
        padding: 3.125rem 0;
        width: 75rem;
        display: flex;
        justify-content: space-between;
    }
}

.card-body {
    padding: 1.875rem;
    height: 19.3125rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    p {
        margin: 0 0 1.5625rem;
        font-size: 0.8125rem;
        line-height: 1.375rem;
        color: #666;
    }

    h3 {
        margin: 0 0 0.9375rem;
        font-size: 1rem;
    }
}

#card1 {
    box-shadow: 0 0.3125rem 2.1875rem rgba(0, 0, 0, 0.1);

    .title {
        color: $lightblue;
    }

    a:hover {
        text-decoration: underline;
        cursor: pointer;
    }

    .btn {
        background-color: $lightblue;
        text-transform: uppercase;
        color: $white;
    }

    .btn:hover {
        background-color: $blue;
    }
}

#card2 {
    box-shadow: 0 0.3125rem 2.1875rem rgba(0, 0, 0, 0.1);

    .title {
        color: $lightpurple;
    }

    a:hover {
        text-decoration: underline;
        cursor: pointer;
    }

    .btn {
        background-color: $lightpurple;
        text-transform: uppercase;
        color: $white;
    }

    .btn:hover {
        background-color: $purple;
    }
}

#card3 {
    box-shadow: 0 0.3125rem 2.1875rem rgba(0, 0, 0, 0.1);

    .title {
        color: $red;
    }

    a:hover {
        text-decoration: underline;
        cursor: pointer;
    }

    .btn {
        background-color: $red;
        text-transform: uppercase;
        color: $white;
    }

    .btn:hover {
        background-color: $darkred;
    }
}

.card-img-top {
    overflow: hidden;
    height: 213.86px;
    position: relative;

    img {
        width: 100%;
        height: 100%;
        transition: transform .2s;
    }

    .fog {
        position: absolute;
        width: 100%;
        height: 100%;
        transition: background-color .2s;
        z-index: 50;
    }
}

.card-img-top:hover {

    .fog {
        background-color: rgba(255, 255, 255, 0.400);
    }

    img {
        transform: scale(1.1);
    }
}



.Author .icon {
    margin: 0;
    max-width: 2.9375rem;
    max-height: 2.9375rem;
    vertical-align: middle;
}

.Author {
    margin-top: 1.875rem;
    padding-top: 1.875rem;
    border-top: 0.0625rem solid #ccc;
    width: 100%;
    display: table;

    .details {
        padding: 0 0 0 1.25rem;
        display: table-cell;
        vertical-align: middle;
    }
}

.card-body .btn {
    display: flex;
    width: 6.0125rem;
    height: 2.15rem;
    align-items: center;
    font-size: 1.063rem;
}

.card-body #btn:hover {
    text-decoration: none;
}