.bar {
    height: 6.5rem;
    box-shadow: 0 0.3125rem 2.1875rem rgba(0, 0, 0, 0.1);
    text-transform: uppercase;
    color: $darkgrey;
    font-size: 1.25rem;
    ul {
        height: 6.5rem;
        width: 73.125rem;;
        padding: 0;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
    h4 {
        margin: 0;
    }

    li {
        height: 4rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .block {
        width: 4.168rem;
        height: 0.3125rem;
        background-color: $darkgrey;
    }
}



.card {
    display: flex;
    flex-direction: column;
    border: 0.0625rem solid #ccc;
    border-radius: 0.1875rem;
    height: auto;
    width: 23.125rem;
    position: relative;
}

.news-cards {
    box-shadow: 0 0.3125rem 2.1875rem rgba(0, 0, 0, 0.1);
    display: block;

    .container {
        margin: 0 auto;
        padding: 3.125rem 15px;
        width: 73.125rem;;
        display: flex;
        justify-content: center;
    }
}

.card-body {
    padding: 1.875rem;
    height: 19.3125rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 55;

    p {
        margin: 0 0 1.5625rem;
        font-size: 0.8125rem;
        line-height: 1.375rem;
        color: #666;
    }

    h3 {
        margin: 0 0 0.9375rem;
        font-size: 1rem;
    }
}

#card1 {
    box-shadow: 0 0.3125rem 2.1875rem rgba(0, 0, 0, 0.1);

    .title {
        color: $lightpurple;
    }

    a:hover {
        text-decoration: underline;
        cursor: pointer;
    }

    .btn {
        background-color: $lightpurple;
        text-transform: uppercase;
        color: $white;
    }

    .btn:hover {
        background-color: $purple;
    }
}

#card2 {
    box-shadow: 0 0.3125rem 2.1875rem rgba(0, 0, 0, 0.1);

    .title {
        color: $lightblue;
    }

    a:hover {
        text-decoration: underline;
        cursor: pointer;
    }

    .btn {
        background-color: $lightblue;
        text-transform: uppercase;
        color: $white;
    }

    .btn:hover {
        background-color: $blue;
    }
}

#card3 {
    box-shadow: 0 0.3125rem 2.1875rem rgba(0, 0, 0, 0.1);

    .title {
        color: $red;
    }

    a:hover {
        text-decoration: underline;
        cursor: pointer;
    }

    .btn {
        background-color: $red;
        text-transform: uppercase;
        color: $white;
    }

    .btn:hover {
        background-color: $darkred;
    }
}


.img-container {
    display: inline-block;
    width: 100%;
    max-height: 218.19px;
    overflow: hidden;
    
    a {
        display: block;
        width: 100%;
        height: 100%;
    }
    
    img {
        width: 100%;
        height: 100%;
        transition: transform .2s;
        object-fit: fill;
    }

    .fog {
        position: absolute;
        display: block;
        width: 100%;
        height: 100%;
        transition: background-color .2s linear;
        z-index: 50;
    }
}

.card-img-top {
    overflow: hidden;
}

.category {
    position: absolute;
    top: 10px;
    right: 0;
    font-size: 12px;
    font-weight: 600;
    padding: 0 10px;
    color: $white;
    text-transform: uppercase;
    z-index: 51;
    .tooltip {
        display: flex;
        align-items: center;
        justify-content: center;
        visibility: hidden;
        opacity: 0;
        padding: 10px 20px;
        position: absolute;
        top: -65px;
        left: -68px;
        width: 150px;
        height: 30px;
        background-color: rgba(0, 0, 22, 0.651);
        font-weight: 500;
        font-size: 8px;
        text-align: center;
        line-height: 1.5;
        text-transform: none;
        transition: visibility 0s, opacity .2s linear;
        p {
            margin: 0;
        }
        .arrow {
            position: absolute;
            bottom: -10px;
            width: 0;
            height: 0;
            border-left: 8px solid transparent;
            border-right: 8px solid transparent;
            border-top: 10px solid rgba(0, 0, 0, 0.651);
        }
    }
}

.category:hover {
    .tooltip {
        visibility: visible;
        opacity: 1;
        
    }
}

#card1 .category {
    background-color: $lightpurple;
}

#card2 .category {
    background-color: $lightblue;
}

#card3 .category {
    background-color: $red;
}

.card-img-top:hover {

    .fog {
        background-color: rgba(255, 255, 255, 0.400);
    }

    img {
        transform: scale(1.1);
    }
}



.Author .icon {
    margin: 0;
    max-width: 2.9375rem;
    max-height: 2.9375rem;
    vertical-align: middle;
}

.Author {
    margin-top: 1.875rem;
    padding-top: 1.875rem;
    border-top: 0.0625rem solid #ccc;
    width: 100%;
    display: table;

    .details {
        padding: 0 0 0 1.25rem;
        display: table-cell;
        vertical-align: middle;
    }
}

.card-body .btn {
    display: flex;
    width: 6.0125rem;
    height: 2.15rem;
    align-items: center;
    font-size: 1.063rem;
}

.card-body #btn:hover {
    text-decoration: none;
}