#logos {
    background-color: $white;
    box-shadow: inset 0 0.3125rem 2.1875rem rgba(0, 0, 0, 0.1);
}

#partners {
    background: $white;
}

.google,
.microsoft,
.f50,
.qms,
.carbon {
    display: inline-block;
    padding: 0 1.25rem;
    position: relative;
    vertical-align: middle;
    text-align: center;

    img {
        max-width: 100%;
        height: auto;
        vertical-align: middle;
    }
}

.accreditations {
    width: 73.125rem;
    ;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;

    .logo {
        display: none;
        position: absolute;
        z-index: 1;
    }

    .bw {
        z-index: 2;
    }
}

.google {
    width: 18.025rem;
    position: relative;
}

.microsoft {
    width: 11.4625rem;
}

.f50 {
    width: 7.025rem;
    position: relative;

    .logo {
        position: absolute;
        left: 35.5%;
    }
}

.qms {
    width: 8.025rem;
    position: relative;

    .logo {
        position: absolute;
        left: 32%;
    }
}

.carbon {
    width: 15.2125rem;
    position: relative;

    .logo {
        position: absolute;
        left: 19.15%;
    }
}


.f50:hover {
    .logo {
        display: block;
    }
}

.qms:hover {
    .logo {
        display: block;
    }
}

.carbon:hover {
    .logo {
        display: block;
    }
}

.google .popup {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: baseline;
    padding: 10px;
    position: absolute;
    left: -10px;
    top: -80px;
    color: $fadedgrey;
    font-size: 13px;
    width: 130px;
    height: 60px;
    background-color: $white;
    box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.1);
    z-index: 100;
    border: 1px solid rgba(0, 0, 0, 0.1);
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity .2s ease-in;

    .arrow {
        position: absolute;
        bottom: -10px;
        width: 0;
        height: 0;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-top: 10px solid $white;
        box-shadow: 0 0.3125rem 2.1875rem rgba(0, 0, 0, 0.1);
        z-index: 101;
    }
}

.description {
    position: absolute;
    height: 30px;
    width: 20px;
    right: 60px;
    top: 4px;
}

.description:hover {
    .popup {
        visibility: visible;
        opacity: 1;
    }
}